@import "tailwindcss";

:root {
  --background: #ffffff;
  --text: #171717;
  
  --surface: #424B54; /*Charcoal*/
  --primary: #86A397; /*Cambridge Blue*/
  --accent: #E5BE9E; /*Dessert Sand*/
  --error: #6E0E0A; /*Blood Red*/

}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-error: var(--error);

  --font-serif: var(--font-heading);
  --font-sans: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;


    /* colors from coolors.co */
    --surface: #424B54; /*Charcoal*/
    --primary: #86A397; /*Cambridge Blue*/
    --accent: #E5BE9E; /*Dessert Sand*/
    --error: #6E0E0A; /*Blood Red*/

    --temp: #ECA400; /*harvest gold*/
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-body), sans-serif;
}
